@import 'tailwindcss';

@theme {
  /* Primary */
  --color-purple-500: hsl(259, 100%, 65%);
  --color-red-400: hsl(0, 100%, 67%);

  /* Neutral */
  --color-grey-100: hsl(0, 0%, 94%);
  --color-grey-200: hsl(0, 0%, 86%);
  --color-grey-500: hsl(0, 1%, 44%);

  --font-poppins: 'Poppins', sans-serif;
}

@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  /* Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}
